@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://www.xhemj.work/tools/zhuanpan/background.png");
  background-repeat: repeat;
}

.dark body {
  background-image: none;
}

#app {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  padding: 1.5rem 1rem;
}

@media (max-width: 640px) {
  .el-dialog {
    @apply !mx-4 !max-w-full !w-auto;
  }
}

@media (min-width: 640px) {
  .el-dialog {
    @apply !max-w-lg !w-auto;
  }
}
